<div class="content-container" appDisableRightClick>
  <div class="move">
    <div class="background-content" [ngStyle]="{'opacity': backgroundOpacity}">
      <div class="gifvideo" #gifVideo [ngStyle]="{'visibility': hideContent ? 'hidden' : 'visible'}">
        <div class="sequence-container">
          <video #videoRef src="/assets/home/Sequence 02.webm" autoplay muted playsinline
            class="sequence-video">
          </video>
        </div>
        <div class="overlay-content" [ngStyle]="{'visibility': hideContent ? 'hidden' : 'visible'}">
          <img
            src="/assets/gifs/Elephant Video 0100_1 (1).gif"
            alt="Centered GIF" />
        </div>
      </div>
    </div>
    <div class="mask-layer" [ngStyle]="{'clip-path': clipPathStyle}">
      <app-particals></app-particals>
    </div>
  </div>
</div>
