.clients-section {
  position: relative;
  text-align: center;
  background-color: #AAADB4;
  overflow: hidden;
  padding-bottom: 35px;
}

h1 {
  font-family: 'Acumin Variable Concept', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #090909;
  margin-bottom: 25px;
  text-align: right;
  padding-right: 50px;
}

.marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  --gap: 2vw;
  --duration: 20s;
  gap: var(--gap);
}

.marquee__group {
  display: flex;
  flex-shrink: 0;
  gap: var(--gap);
  animation: scroll var(--duration) linear infinite;
  animation-play-state: running;
}

.marquee:hover .marquee__group {
  animation-play-state: paused;
}

.marquee__group img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer; 
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .marquee {
    --duration: 30s;
    --gap: 3vw;
  }

  .marquee__group img {
    width: 25vw;
    height: 25vw;
  }

  h1 {
    font-family: 'Acumin Variable Concept', sans-serif;
    font-size: 28px;
    margin-bottom: 25px;
  }
}
