.container {
  display: flex;
  height: auto;
  padding: 70px;
  background-color: #AAADB4;
  font-family: var(--font-family-acumin);
}

.container h1 {
  width: 100%;
}

.left-container {
  flex: 0 0 25%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.left-container h1 {
  width: 100%;
  text-align: left;
  margin: 0;
  font-size: var(--font-heading-xl);
  font-weight: bold;
  margin-bottom: 20px;
}

.title-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.title-list li {
  padding: 12px 20px;
  font-size: var(--font-subtitle);
  color: #444;
  border-left: 3px solid transparent;
  transition: all 0.3s;
}

.title-list li.active {
  color: #000;
  font-weight: 600;
  border-left: 4px solid #ef1146;
}

.static-image {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  border-radius: 0;
}

.right {
  flex: 0 0 75%;
  margin-top: 50px;
}

.slider-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
  will-change: transform;
  width: 100%;
}

.slider-image {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  color: #f4f4f4;
  background: none;
  margin-top: -22px;
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  background-color: none;
  user-select: none;
}

.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

.moving-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
}

.split-content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  gap: 40px;
}

.title-side {
  width: 50%;
  align-items: flex-start;
  font-size: var(--font-body);
}

.desc-side {
  width: 50%;
}

.desc-side p {
  font-size: var(--font-body);
  margin-bottom: 60px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    padding: 40px;
    flex-direction: column;
  }

  .left {
    position: relative;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 30px;
  }

  .left h1 {
    font-size: 2.5rem;
    text-align: left;
  }

  .title-list {
    display: none;
  }

  .right {
    width: 100%;
    margin-top: 0;
  }

  .moving-text {
    width: 100%;
    margin-top: 20px;
  }

  .static-image {
    width: 100%;
  }

  .split-content {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }

  .title-side,
  .desc-side {
    width: 100%;
  }

  .title-side {
    font-size: 1rem;
    margin-top: -10px;
    padding: 0;
  }

  .desc-side p {
    font-size: 15px;
    margin-bottom: 30px;
    margin-top: -20px;
  }
}


@media (max-width: 768px) {
  .container {
    padding: 20px;
    flex-direction: column;
  }

  .left {
    position: relative;
  }

  .left h1 {
    width: 100%;
    text-align: left;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 10px;
  }

  .title-side {
    width: 50%;
    align-items: flex-start;
    font-size: 0.5rem;
  }

  .title-list {
    display: none;
  }

  .right {
    padding: 0;
    margin: 0;
  }

  .moving-text {
    width: 100%;
    margin-top: 40px;
  }

  .static-image {
    width: 100%;
    margin: 0;
  }

  .split-content {
    margin: 0px;
    flex-direction: column;
    gap: 0;
    display: flex;
  }

  .title-side,
  .desc-side {
    width: 100%;
  }

  .title-side {
    font-size: 0.85rem;
  }

  .desc-side p {
    font-size: 13px;
    margin-top: -15px;
    margin-bottom: 25px;
  }
}
