<div class="container">
  <div class="left-container">
    <h1>Offerings</h1>
    <ul class="title-list">
      <li *ngFor="let offering of offerings; let i = index" [class.active]="i === selectedIndex">
        {{ offering.title }}
      </li>
    </ul>
  </div>
  <div class="right">
    <div class="moving-text" *ngFor="let offering of offerings; let i = index" [id]="'text' + i">
      <div class="slider-wrapper">
        <div class="slider-track" [ngStyle]="{
      transform: 'translateX(-' + currentSlidePosition(i) + '%)',
      transition: transitionEnabled ? 'transform 0.6s ease-in-out' : 'none'
    }" (transitionend)="handleTransitionEnd(i)">
          <img [src]="offering.images[offering.images.length - 1]" class="slider-image" alt="Last Clone" />

          <img *ngFor="let img of offering.images" [src]="img" class="slider-image" alt="Slide" />

          <img [src]="offering.images[0]" class="slider-image" alt="First Clone" />
        </div>

        <button class="arrow left" (click)="prevSlide(i)">‹</button>
        <button class="arrow right" (click)="nextSlide(i)">›</button>
      </div>

      <div class="split-content">
        <div class="title-side">
          <h2>{{ offering.title }}</h2>
        </div>
        <div class="desc-side">
          <p>{{ offering.description }}</p>
          <app-butto buttonText="Know More"></app-butto>
        </div>
      </div>
    </div>
  </div>
</div>
