<section class="clients-section">
  <div class="clients-content">
    <div class="clients-text" appScrollAnimate animationClass="animate">
      <h2>Our valued collaborations</h2>
      <p>
        We take immense pride in collaborating with some of the most innovative and trusted brands across various industries.
        These partnerships reflect our commitment to delivering excellence and building lasting relationships.
      </p>
      <app-butto buttonText="Contact" (onClick)="navigateTo()"></app-butto>
    </div>
    <div class="clients-logos-container">
      <div class="logos top-row">
        <div class="logo-track">
          <img src="/assets/clints/All Pages-1.png" alt="Client 1">
          <img src="/assets/clints/All Pages-2.png" alt="Client 2">
          <img src="/assets/clints/All Pages-3.png" alt="Client 3">
          <img src="/assets/clints/All Pages-4.png" alt="Client 4">
          <img src="/assets/clints/All Pages-5.png" alt="Client 5">
          <img src="/assets/clints/All Pages-6.png" alt="Client 6">
          <img src="/assets/clints/All Pages-7.png" alt="Client 7">
          <img src="/assets/clints/All Pages-8.png" alt="Client 8">
          <img src="/assets/clints/All Pages-9.png" alt="Client 9">
          <img src="/assets/clints/All Pages-10.png" alt="Client 10">
          <img src="/assets/clints/All Pages-11.png" alt="Client 11">
        </div>
        <div class="logo-track">
          <img src="/assets/clints/All Pages-1.png" alt="Client 1">
          <img src="/assets/clints/All Pages-2.png" alt="Client 2">
          <img src="/assets/clints/All Pages-3.png" alt="Client 3">
          <img src="/assets/clints/All Pages-4.png" alt="Client 4">
          <img src="/assets/clints/All Pages-5.png" alt="Client 5">
          <img src="/assets/clints/All Pages-6.png" alt="Client 6">
          <img src="/assets/clints/All Pages-7.png" alt="Client 7">
          <img src="/assets/clints/All Pages-8.png" alt="Client 8">
          <img src="/assets/clints/All Pages-9.png" alt="Client 9">
          <img src="/assets/clints/All Pages-10.png" alt="Client 10">
          <img src="/assets/clints/All Pages-11.png" alt="Client 11">
        </div>
      </div>

      <div class="logos bottom-row">
        <div class="logo-track reverse">
          <img src="/assets/clints/All Pages-12.png" alt="Client 1">
          <img src="/assets/clints/All Pages-13.png" alt="Client 2">
          <img src="/assets/clints/All Pages-14.png" alt="Client 3">
          <img src="/assets/clints/All Pages-15.png" alt="Client 4">
          <img src="/assets/clints/All Pages-16.png" alt="Client 5">
          <img src="/assets/clints/All Pages-17.png" alt="Client 7">
          <img src="/assets/clints/All Pages-18.png" alt="Client 8">
          <img src="/assets/clints/All Pages-19.png" alt="Client 9">
          <img src="/assets/clints/All Pages-20.png" alt="Client 10">
          <img src="/assets/clints/All Pages-21.png" alt="Client 11">
          <img src="/assets/clints/All Pages-22.png" alt="Client 11">
        </div>
        <div class="logo-track reverse">
          <img src="/assets/clints/All Pages-12.png" alt="Client 1">
          <img src="/assets/clints/All Pages-13.png" alt="Client 2">
          <img src="/assets/clints/All Pages-14.png" alt="Client 3">
          <img src="/assets/clints/All Pages-15.png" alt="Client 4">
          <img src="/assets/clints/All Pages-16.png" alt="Client 5">
          <img src="/assets/clints/All Pages-17.png" alt="Client 7">
          <img src="/assets/clints/All Pages-18.png" alt="Client 8">
          <img src="/assets/clints/All Pages-19.png" alt="Client 9">
          <img src="/assets/clints/All Pages-20.png" alt="Client 10">
          <img src="/assets/clints/All Pages-21.png" alt="Client 11">
          <img src="/assets/clints/All Pages-22.png" alt="Client 11">
        </div>
      </div>
    </div>
  </div>
</section>
