.clients-scroll-section {
  background: #aaadb4;
  padding: 40px 0;
  overflow: hidden;
  text-align: center;
}

.clients-title {
  font-size: var(--font-heading-xl);
  margin-bottom: 40px;
  font-family: 'Acumin Variable Concept';
}

.logos-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.logos-track {
  display: flex;
  width: max-content;
  animation: scrollLoop 50s linear infinite;
  align-items: center;
}

.logos-track img {
  height: 120px;
  margin: 0 30px;
  flex-shrink: 0;
}

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .clients-title {
    font-size: 1.8rem;
    margin-bottom: 30px;
  }

  .logos-track img {
    height: 80px;
    margin: 0 25px;
  }
}


@media (max-width: 768px) {
  .clients-title {
    font-size: 1.5rem;
  }

  .logos-track img {
    height: 60px;
    margin: 0 20px;
  }
}
