.clients-section {
  display: flex;
  align-items: center;
  padding: 0 50px;
  padding-bottom: 70px;
  background-color: #aaadb4;
  font-family: 'Acumin Variable Concept';
  overflow: hidden;
}

.clients-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.clients-text {
  width: 40vw;
  padding: 10px;
  /* transform: translateX(-100px); */
}

.clients-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.clients-text p {
  font-size: 18px;
  margin-top: -5px;
  margin-bottom: 30px;
  color: #090909cc;
}

.clients-logos-container {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  box-sizing: border-box;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.logos {
  display: flex;
  gap: 20px;
  overflow: hidden;
  white-space: nowrap;
}

.logo-track {
  display: flex;
  animation: scrollLeft 15s linear infinite;
}

.logo-track.reverse {
  animation: scrollRight 15s linear infinite;
}

.logo-track img {
  width: 150px;
  height: 100px;
  margin: 0 20px;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .clients-section {
    flex-direction: column;
    padding: 0 20px;
  }

  .clients-content {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5vh;
  }

  .clients-text {
    width: 100%;
    padding: 0;
  }

  .clients-text h2 {
    font-size: 1.5rem;
  }

  .clients-text p {
    font-size: 13px;
  }

  .logos {
    gap:0px;
  }

  .logo-track img {
    width: 75px;
    height: 50px;
    margin: 0 10px;
  }
}
