<div class="heading-container">
  <h1>Offerings</h1>
</div>

<div class="row" appDisableRightClick>
  <div class="column">
    <div class="image-container">
      <a href="/ourwork">
        <img src="/assets/Experience Centers/BOSCH/20000.jpg" />
        <div class="overlay">
          <h3>Customer Experience Center</h3>
          <p>
            We bring your space to life with immersive technology and
            interactive installations in our Experience Center.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="image-container">
      <a href="/ourwork">
        <img src="/assets/BRANDING/Zebra Robotics/Interiors/Test1A.jpg" />
        <div class="overlay">
          <h3>Interiors</h3>
          <p>
            Our Interiors services transform your space into a beautiful and
            functional environment.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="image-container">
      <a href="/ourwork">
        <img src="/assets/EVENTS/Volvo/1.jpg" />
        <div class="overlay">
          <h3>Events & Expos</h3>
          <p>
            We create memorable experiences with technology and design for
            Events & Expos.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row" appDisableRightClick>
  <div class="column">
    <div class="image-container">
      <a href="/ourwork">
        <img src="/assets/BRANDING/EMBASSY/Master Graphic.jpg" />
        <div class="overlay">
          <h3>Brand Solution</h3>
          <p>
            We bring your space to life with immersive technology and
            interactive installations in our Experience Center.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="image-container">
      <a href="/ourwork">
        <img src="image5.jpg" />
        <div class="overlay">
          <h3>Immersive & Interactive</h3>
          <p>
            Our Interiors services transform your space into a beautiful and
            functional environment.
          </p>
        </div>
      </a>
    </div>
  </div>
  <div class="column">
    <div class="image-container">
      <a href="/ourwork">
        <img src="image6.jpg" />
        <div class="overlay">
          <h3>Film & Content</h3>
          <p>
            We create memorable experiences with technology and design for
            Events & Expos.
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
