.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #ef1146;
  color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(10%);
  transition: opacity 0.3s, transform 0.3s;
  z-index: 1000;
}

.back-to-top:hover {
  background-color: #ef114589;
  transform: scale(1.1);
}

.back-to-top:focus {
  outline: none;
}

.back-to-top:active {
  transform: scale(0.9);
}