<div class="content-wrapper" appDisableRightClick>
    <div class="content-section ">
        <div class="gif-text-container">
            <div class="gif">
                <img src="https://ecgbxovmuzarmmuhyzyo.supabase.co/storage/v1/object/public/phase1/gif/Elephant%20Video%200200_1.gif" alt="GIF 1">
            </div>
            <div class="text">
                <p class="big1 animate-text">WE arE</p>
                <p class="normal1">
                    <span class="thinkers animate-text">THINkErs</span>
                    <span class="desiners animate-text">DESIGNErs</span>
                </p>
                <p class="medium1">
                    <span class="thinkers animate-text">STOryTEllErs</span>
                </p>
            </div>
        </div>
    </div>
    <div class="content-section3">
        <div class="gif-text-container">
            <div class="gif">
                <img src="https://ecgbxovmuzarmmuhyzyo.supabase.co/storage/v1/object/public/phase1/gif/Elephant%20Video%200300_1.gif" alt="GIF 1">
            </div>
            <div class="text">
                <p class="normal2 animate-text">WE lOOk</p>
                <p class="big2 animate-text">
                    <span class="beyond">BEYOND</span>
                </p>
                <p class="medium2 animate-text">
                    <span class="poss">POSSIBIlITIES</span>
                </p>
            </div>
        </div>
    </div>
    <div class="content-section3">
        <div class="gif-text-container">
            <div class="gif">
                <img src="https://ecgbxovmuzarmmuhyzyo.supabase.co/storage/v1/object/public/phase1/gif/Elephant%20Video%200400_1.gif" alt="GIF 1">
            </div>
            <div class="text">
                <p class="normal3 animate-text">EVErYTHING YOU CaN</p>
                <p class="big3">
                    <span class="imagine animate-text">IMaGINE</span>
                </p>
                <p class="medium3">
                    <span class="we animate-text">WE</span>
                    <span class="make animate-text">MakE</span>
                    <span class="it animate-text">IT</span>
                    <span class="real animate-text">rEal</span>
                </p>
            </div>
        </div>
    </div>
</div>
